body {
    color: #666666;
    font-family: 'Verdana', sans-serif;
    margin: 25px 20px 20px 20px;
    max-width: 1024px;
}

p {
    font-size: 1.125em;
    line-height: 2em;
    max-width: 530px;
    padding-bottom: 10px;
}

img {
    border: 0;
    padding-bottom: 30px;
}

h1 {
    font-size: 36pt;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    margin-top: 0;
    padding-bottom: 20px;
    font-weight: bold;
    color: #f07c17;
}

li {
    font-size: 1.15em;
    line-height: 2em;
}

.outline {
    border: 1px solid #ccc;
    padding: 30px;
    max-width: 375px;
}

.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}